@import "compass/css3";
@import "compass/utilities";
@import "normalize.scss";
@import "bootstrap.scss";
@import "tags.scss";

body{
	background: #f1f1f1;
	overflow:hidden;
}

.header {
	position:fixed;	
	height:64px;
	width:100%;
	top:0;
	left:0;
	@include background-image(linear-gradient(top, #2b2b2b, #282828));
	@include box-shadow(rgba(black, 0.5) 0 0 5px);
	.left {
		float:left;
		width:184px;
		height:64px;
		border-right:1px solid #030303;
		@include background-image(linear-gradient(top, #313131, #2f2f2f));
		h1 {
			float:left;
			width:183px;
			height:64px;
			border-right:1px solid #404040;
			margin:0;
			padding:0;
			a {
				float:left;
				width:182px;
				height:64px;
				border-right:1px solid #2b2b2b;
				margin:0;
				padding:0;
				img {
					padding:17px 0 0 19px;
				}
				&:active {
					position:relative;
					top:1px;
				}

			}
		}
		&:hover {
			@include background-image(linear-gradient(top, #333333, #313131));
		}
	}
	.right {
		float:left;
		.search {
			float:left;
			position:relative;
			input {
				width:155px;
				height:12px;
				color:#aeaeae;
				font-size:14px;
				padding:11px 20px 12px 39px;
				margin:14px 0 0 27px;
				font-style:italic;
				background:#fff;
				@include background-image(linear-gradient(top, #ebebeb, #fff));
				@include box-shadow(rgba(black, 0.5) 0 0 5px);
				&:focus {
					color:#343434;
					font-style:normal;
				}
			}
			img {
				position:absolute;
				top:23px;
				left:39px;
			}
		}
		.user {
			position:absolute;
			top:17px;
			right:20px;
			.notloggedin, .loggedin {
				a.btn {
					margin-left:12px;
					background:#1f6fc8;
					&:focus, &:active, &:visited {
						outline:0px !important;
					    -webkit-appearance:none
					}
				}
				.modal {
					&:focus {
						outline:0px !important;
					    -webkit-appearance:none
					}
				}
			}
			.loggedin {
				.avatar {
					float:right;
					width:100px;
					a {
						color:#fff;
						font-size:24px;
						&.log-out {
							color:#1f6fc8;
							font-size:12px;
						}
					}
				}
				.add {
					float:left;
					margin-right:30px;
				}
			}
		}
	}
}

//.user {
//	position:absolute;	
//	right:20px;
//	bottom:20px;
//}
//
//.search {
//	position:absolute;
//	right:20px;
//	top:20px;
//}

.content {
	.gif-container {
		&:hover {
			cursor:pointer;
		}
		a {
			img {
				position:absolute;
				bottom:0;
				z-index:-10;
			}
		}
		.tags {
			position:absolute;
			bottom:15px;
			left:15px;
			.label {
				padding:3px 8px 6px;
				font-size:16px;
				margin-right:8px;
				background:#1f6fc8;
				a {
					color:#fff;
					font-weight: normal;
				}
			}
		}
	}
}

