@import "compass/css3";
@import "compass/utilities";
@import "normalize.scss";
@import "bootstrap.scss";
@import "tags.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}

.header {
	height:56px;
	width:100%;
	background-color:rgba(255,255,255,0.85);
	position:fixed;
	z-index:10;
	.left {
		float:left;
		width:100px;
		padding:8px 8px 8px 11px;
		h1 {
			margin:0;
			font-weight:700;
			font-size:30px;
			letter-spacing: -1px;
			a {
				color:#333;
				@include text-shadow(0 1px 1px #fff);
				&:hover {
					text-decoration:none;
					color:#222;
				}
				&:active {
					position:relative;
					top:1px;
				}

			}
		}
	}
	.right {
		float:left;
		padding:0 0 0 23px;
		.search {
			float:left;
			position:relative;
			top:-1px;
			input {
				width:155px;
				height:10px;
				color:#333;
				font-size:12px;
				padding:11px 20px 12px 39px;
				margin:13px 0 0 -5px;
				background-color:rgba(255,255,255,0.9);
				border:none;
				font-family: 'Open Sans', sans-serif;
				&:focus {
					font-style:normal;
					border:none;
				}
			}
			img {
				position: absolute;
				top: 20px;
				left: 6px;
				opacity: 0.5;
			}
		}
		.title {
			float:left;
			h2 {
				margin: 26px 0 24px 24px;
				font-size: 18px;
				font-weight: 300;
				line-height: 0;
				a {
					color:#666;
					@include text-shadow(0 1px 1px #fff);
				}
			}
		}
		.user {
			position:absolute;
			top: 10px;
			right: 17px;
			.notloggedin, .loggedin {
				#login.btn, #signup.btn {
					margin-left:8px;
				}
				input {
					width:192px;
					margin-right: 11px;
				}
				.modal {
					button {
						position:relative;
						top:-2px;
					}
					&:focus {
						outline:0px !important;
					    -webkit-appearance:none
					}
					form {
						margin:3px 0 5px;
						span {
							margin-top:10px;
						}
					}
				}
			}
			.notloggedin {
				right: -7px;
				position: relative;
				a:hover {
					cursor:pointer;
				}
			}
			.loggedin {
				position: relative;
				top: 4px;
				right:3px;
				.avatar {
					float: right;
					top: -4px;
					right: -9px;
					.pic {
						padding:0;
						background:#f3f3f3;
						width:34px;
						height:34px;
						&:active {
							position:relative;
							top:1px;
						}
					}
					.caret {
						border-top: 6px solid black;
						border-right: 5px solid transparent;
						border-left: 5px solid transparent;
						border-top-color:#c6c6c6;
						position:relative;
						top:20px;
						left:5px;
					}
					.dropdown-menu {
						top: 38px;
						left: -126px;
						li {
							a:hover {
								background:#f1f1f1;
								color:#333;
							}
						}
					}
				}
				.add {
					float: left;
					margin-right: 7px;
					margin-top: -4px;
					#add-modal {
						.modal-body {
							overflow:hidden;
						}
						.roe {
							width:530px;
							float:left;
							line-height:19px;
						}
						.input {
							float:left;
							color: #555;
							font-size: 13px;
							background:whiteSmoke;
							border:1px solid #CCC;
							padding:13px;
							width: 326px;
							@include border-radius(0px);
							margin:0;
							input {
								height: 100%;
								font-size: 12px;
								padding: 0;
								margin: 0;
								line-height: 0;
								width: 300px;
								background:whiteSmoke;
								border:0;
								@include box-shadow(none);
							}
							&.urladdsrc {
								background:#fff;
							}
						}
						button.add-gif {
							top: 0px;
							float: left;
							margin-left: 10px;
							padding: 12px 21px 13px;
							font-size: 16px;
						}
						.roe-tag {
							position: relative;
							padding: 58px 0 0 0;
							margin-bottom: 10px;
							width: 530px;
							.myTag {
								float: left;
								margin: 14px 0 0 10px;
								background:#f1f1f1;
								height: 22px;
								border-color: #ccc;
								padding: 6px 9px 5px;
								font-size: 14px;
								color: #343434;
								clear: both;
							}
							.tags {
								top: 18px;
								position: absolute;
								left: 0;
								display: block !important;
								float: left;
							}
						}
						.roe-last {
							height:40px;
							.help-block {
								width:100%;
								float:left;
								font-size:13px;
							}
							a:hover {
								cursor:pointer;
							}
						}
					}
				}
			}
		}
	}
}

#container {
    width: 99.7%;
    margin: 0 auto;
    z-index:1px;
	padding-top:57px;
	.content {
	    width: 100%;
		@include column-count(5);
		@include column-gap(0px);
		.gif-container {
			&:hover {
				cursor:pointer;
			}
			a {
				img {
					position:absolute;
					left:0;
					bottom:0;
					z-index:-10;
				}
			}
			.tags {
				position: absolute;
				bottom: 22px;
				left: 16px;
				.label {
					padding:3px 8px 6px;
					font-size:16px;
					margin-right:8px;
					background:#1f6fc8;
					a {
						color:#fff;
						font-weight: normal;
					}
				}
			}
			.regif {
				position:absolute;
				top:75px;
				right:15px;
				color:#fff;
				font-size:20px;
			}
		}
		.user-gif {
			margin:11px 6px;
			.gif {
				img {
					display: inline-block;
				    width: 100%;
				}
			}
			&:first-child {
				margin-top:0;
			}
		}
	}
}

.error {
	.text-container {
		width: 100%;
		height:100%;
		padding: 20px;
		margin:64px 0 0 0;
		text-align:center;
		@include text-shadow(0 1px 1px #fff);
		h1 {
			font-size: 140px;
			margin: 60px 0 20px;
			line-height: 180px;
			letter-spacing: -3px;
		}
		p {
			font-size:22px;
			line-height:32px;
			color:#555;
		}
	}
}

.loading {
	background: #f9f9f9;
	width: 100%;
	height: 100%;
	position: absolute;
	div {
		width:120px;
		margin:10% auto 0;
		img {
			width:120px;
			height:120px;
		}
	}
}

.footer {
	position:absolute;
	bottom:15px;
	right:25px;
	a, span {
		color:#858585;
		font-size:12px;
		margin:0 0 0 12px;
		@include text-shadow(0 1px 1px #fff);
	}
}

@media only screen and (max-width : 1299px),
only screen and (max-device-width : 1299px){
    .content {
		@include column-count(4);
		@include column-gap(0px);
        width: 100%;
    }
}
 
 
@media only screen and (max-width : 1099px),
only screen and (max-device-width : 1099px){
    .content {
		@include column-count(3);
		@include column-gap(0px);
        width: 100%;
    }
}
 
@media only screen and (max-width : 899px),
only screen and (max-device-width : 899px){
    .content {
		@include column-count(2);
		@include column-gap(0px);
        width: 100%;
    }
}
 
@media only screen and (max-width : 499px),
only screen and (max-device-width : 499px){
    .content {
		@include column-count(1);
		@include column-gap(0px);
        width: 100%;
    }
}

