<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gifasm</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=728">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/gifasm.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

		<div class="header">
			<div class="left">
				<h1><a href="#"><img src="img/gifasm.png"></a></h1>
			</div>
			<div class="right">
				<div class="search"></div>
				<div class="user">
					<div class="loggedin">
						<div class="add"></div>
					</div>
				</div>
			</div>
		</div>
	
		
		<div class="content"></div>
		
		<!-- <div class="footer">
			<span>&copy;Gifasm 2012</span>
			<a href="/#/about">About</a>
			<a href="/#/help">Help</a>
			<a href="/#/team">Team</a>
			<a href="/#/jobs">Jobs</a>
		</div> -->
		
		<!-- templates -->
		<script type="text/template" id="gallery-gif-template">
			<div class="gif-container gallery-gif hide unloaded" id="<%= id %>">
				<a class="gif" title="next gif">
					<img src="" data-src="<%= src %>">
				</a>
				<div class="tags">
					<% for(var tag in tags) { %>
			        	<span class="label label-inverse"><a href="#/tag/<% var tagsurl = tags[tag].replace(/\s+/g, '-').toLowerCase(); %><%= tagsurl %>"><%= tags[tag] %></a></span>
			    	<% } %>
				</div>
			</div>
		</script>​
		
		<script type="text/template" id="single-gif-template">
			<div class="gif-container single-gif">
				<a class="gif" href="#/all">
					<img src="<%= src %>">
				</a>
				<div class="tags">
					<% for(var tag in tags) { %>
			        	<span class="label label-inverse"><a href="#/tag/<%= tags[tag] %>"><%= tags[tag] %></a></span>
			    	<% } %>
				</div>
			</div>
		</script>​
		
		<script type="text/template" id="search-template">
			<form class="search">
				<img src="img/search.png">
				<input type="text" placeholder="search">
			</form>
		</script>​
		
		<script type="text/template" id="nonuser-template">
			<div class="notloggedin">
			    <div id="login" class="btn btn-primary">Log in</div>
				<div id="signup" class="btn btn-primary">Sign up</div>
				<div class="modal hide" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	<h3 id="myModalLabel">Log in</h3>
				  	</div>
				    <div class="modal-body">
				        <form class="login-form">
							<p class="error text-error" style="display:none"></p>
							<input type="text" id="login-username" placeholder="Username" />
							<input type="password" id="login-password" placeholder="Password" />
							<button class="btn btn-primary" type="button submit">Log In</button>
							<span class="help-block">Don&#8217;t have an account? <a href="#" id="signup">Make one</a></span>
						</form>
				    </div>
				</div>
				<div class="modal hide" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	<h3 id="myModalLabel">Sign up</h3>
				  	</div>
				    <div class="modal-body">
						<form id="signup" class="signup-form" onsubmit="signUp();">
							<p class="error text-error" style="display:none"></p>
							<input type="text" id="signup-username" placeholder="Username" />
							<input type="password" id="signup-password" placeholder="Create a Password" />
							<button class="btn btn-primary" type="button submit">Sign Up</button>
							<span class="help-block">Already have an account? <a href="#" id="login">Log in</a></span>
						</form>
					</div>
				</div>
			</div>
	    </script>
	
		<script type="text/template" id="user-template">
			<div class="loggedin">
				<div class="avatar dropdown">
	               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="pic" src="<%= avatar %>"></a></a>
	               <ul class="dropdown-menu">
						<li><a href="#/user/<%= username %>"><%= username %></a></li>
						<li class="divider"></li>
						<li><a href="#" class="log-out">Log out</a></li>
	               </ul>
		      	</div>
				<div class="add"></div>
			</div>
		</script>
		
		<script type="text/template" id="upload-template">
			<a href="#add-modal" role="button" class="btn btn-primary" data-toggle="modal" title="add gif">+ Add Gif</a>
			<div class="modal hide" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    	<h3 id="myModalLabel">Fuck Yeah, Buddy.</h3>
			  	</div>
				<div class="modal-body">
					<form id="fileupload" class="add" enctype="multipart/form-data" method="post">
						<div class="roe">
							<p class="error text-error" style="display:none"></p>
					    	<div class="input"><input type="file" accept="image/gif" name="fileselect" id="fileselect" class="btn main"></div>
							<button class="btn btn-primary add-gif" type="button submit">Add</button>
						</div>
						<div class="roe roe-tag">
							<input type="text" name="tags" placeholder="tags (max 3)" class="tags"/>
						</div>
						<div class="roe roe-last">
							<span class="help-block"><a href="#">Use a URL instead</a></span>
						</div>
					</form>
					<form id="urladd" class="add hide">
						<div class="roe">
				    		<p class="error text-error" style="display:none"></p>
					    	<input type="text" class="main input urladdsrc" placeholder="http://">
							<button class="btn btn-primary add-gif" type="button submit">Add</button>
						</div>
						<div class="roe roe-tag">
				     		<input type="text" name="tags" placeholder="tags (max 3)" class="tags"/>
						</div>
						<div class="roe roe-last">
							<span class="help-block"><a href="#">Uploader</a></span>
						</div>
					</form>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="error-template">
			<div class="text-container">
				<h1><%= title %></h1>
				<p><%= message %></p> 
			</div>
		</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
		<script src="http://www.parsecdn.com/js/parse-1.1.6.min.js"></script>
		
		<!-- scripts concatenated and minified via build script -->
        <script src="js/plugins.js"></script>
        <script src="js/gifasm.js"></script>
		<!-- end scripts -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-36231761-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
